<!DOCTYPE html>
<html lang="en">
<head>
    <title>Energy Visual</title>
	<!--<link rel="stylesheet" href="../public/styles/style.css">-->
	<link rel="stylesheet" href="/cdn/styles/style.css">
	<!--<p><img src="wits-logo.jpg" alt="Wits logo" style="float:left;width:150px;height:150px;">-->
	<p><img src="/cdn/images/wits-logo.jpg" alt="Wits logo" style="float:left;width:150px;height:150px;">
The image will float to the left of the text.</p>
<meta charset="utf-8" />
</head>
<hr>
<body>
    <h1>Wits Energy <br />Visualisation</h1>
<hr>
    <button type="button" id="updateButton" class="updateButton">Update</button>
    <!--<script src="../public/scripts/home.js"></script>-->
   <script src="/cdn/scripts/home.js"></script>
 <hr>

</body>

</html>