
body {
background-color: black;
}

h1 {
    background-color: blue;
	color: white;
	text-align: center;
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif;
}

.updateButton {
    background-color: blue; /* Green */
    border: red;
    color: white;
    padding: 15px 32px;
    text-align: left-side
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.visualButtons {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left-side
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

ul.building{
    color: #fff;
}